/* ============ RESPONSIVE ==================== */

@media (max-width: 1310px) {
  /* ============ GERAL ==================== */

  #contents .info-wrapper {
    flex-direction: column;
  }

  #contents .video-container img {
    width: 100%;

    justify-content: center;
  }

  #contents .details {
    display: flex;
    margin-top: 1rem;
    width: 100%;
  }

  footer img {
    margin: 0%;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  #sidebar .title h1 {
    font-size: 2rem;
  }

  #sidebar ul li {
    font-size: 1.5rem;
  }

  #main header .teste {
    display: flex;
    justify-content: space-between;

    padding-inline: auto;
  }

  .header-text .one {
    font-size: 1rem;
  }

  .header-text .two {
    font-size: 1.5rem;
  }

  .header-text .three {
    font-size: 0.8rem;
  }

  .welcome-block {
    flex-direction: column;
    justify-content: space-between;
  }

  .welcome-block .welcome-text {
    margin-top: 1.2rem;
  }

  .welcome-block img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-top: 2rem;
  }
}

@media (max-width: 950px) {
  #sub-header span {
    margin: 0;
  }

  #sub-header .text2 h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .main {
    flex-direction: column;
    width: 100%;
  }

  .sidebar-dummy {
    width: 0;
    height: 0;
  }

  .sidebar {
    width: 100%;
    position: static;
    height: auto;
  }

  #main .center {
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .wrapper-header {
    width: 100%;
  }
}
